<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.nodream.xskj.module.main">

    <application android:theme="@style/AppTheme">
        <activity
            android:name=".splash.SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".home.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme"
            android:windowSoftInputMode="adjustPan|stateHidden" />
        <activity
            android:name=".work.WorkDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".inqusisition.OrderDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".inqusisition.OrderAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme"
            android:windowSoftInputMode="adjustPan|stateHidden"/>
        <activity
            android:name=".information.AddInfoActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".information.InfoDetailActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme"
            android:windowSoftInputMode="adjustResize|stateHidden"/>
        <activity
            android:name=".information.PatientSelectActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".contact.ContactDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/HomeTheme"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".location.AddressAddActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustResize"/>

        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="137131bc3e2124f79106a08da06c3b0a" />

        <service android:name="com.amap.api.location.APSService"></service>

    </application>

</manifest>